{% extends "base.html" %}

{% block content %}
<form method="POST" autocomplete="off" class="post-form" action="/emp"> 
    {%csrf_token%}

    <div class="row">
    <label class="col-md-2">Employee Id:</label>
    <div class="col-md-4">

    {{form.eid}}

    </div>
    </div>

    <br>
    
    <div class="row">
    <label class="col-md-2">Employee Name:</label>
    <div class="col-md-4">
    
    
    {{form.ename}}

    </div>
    </div>

    <br>

    <div class="row">
    <label class="col-md-2">Employee Email:</label>
    <div class="col-md-4">
    {{form.eemail}}
    </div>
    </div>

    <br>
    
    <div class="row">
    <label class="col-md-2">Employee Contact:</label>
    <div class="col-md-4">
    {{form.econtact}}
    </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>

    <div class="col-md-4">
        <a href="{% url 'employee_list' %}" class="btn btn-secondary btn-block btn-lg">
            <i class="fas fa-stream"></i> Back to list
        </a>
    </div>
</form>
{% endblock content %}